/* style the font family */
@font-face {
    font-family: 'outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('ttf')
}

@font-face {
    font-family: 'young-serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('ttf')
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

body {
    font-family: 'outfit', sans-serif;
    font-size: 16px;
    color: var(--WengeBrown);
    background-color: var(--Eggshell);
    line-height: 1.5;
}

h1,
h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h2,
h3 {
    color: var(--DarkRaspberry);
}

/* style the overall layout */
img {
    max-width: 100%;
    border-radius: 8px;
}

.container {
    margin: 10% 25%;
    padding: 2rem;
    background-color: var(--White);
    border-radius: 1rem;
}

.pre-time {
    padding: 1rem;
    background-color: var(--RoseWhite);
    border-radius: 0.5rem;
}

/* style the table */
table {
    width: 100%;
}

th,
td {
    text-align: left;
}

th {
    font-weight: normal;
}

td {
    font-weight: bold;
    color: var(--DarkRaspberry);
}

li {
    padding-left: 1rem;
}